<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizzbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>BizBuySell Scraper</h1>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Enter something...">
            <button id="go-button">Go</button>
        </div>
        <div id="link-container"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
